body
{
    margin:0;
    padding: 0;
    background:;
    background-attachment: fixed;
    background-size:100% 100%;

}

/*navbar*/
.navbar-color
{
    background: #fff;
    border-bottom:2px solid black;

}

.navbar-textcolor
{
    color:black;
}


/*slider*/
.slider
{
    height:675px;
}

.slider-kelas
{
    height:300px;
}

/*person*/
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}

/*table*/
.border
{
  border-radius:5px;
}

.table-home
{
  padding: 60px;
}
.table-class
{
    margin-top:100px;
}

.table-crud
{
  margin-top:30px;
}
/* ----- */



.jumbotron
{
    margin-top: 30px;
    background: rgba(255,255,255,0.70);
}

.container .form-inline
{
  margin-top:8px;

}

.thumbnail
{
    border:2px solid black;
}

/*button edit data*/

.btn-update
{
  margin-top: 20px;
}

/*---------*/

.form-inline
{
  margin: 10px;
}

.update
{
  margin-top:7px;
}

.thumbnail
{
  margin-top: 35px;
  margin-bottom:60px;
}
/*text*/
.text
{
  text-align: justify;
}

.text-opinion
{
  padding-bottom: 150px;
}

.text-table
{
  margin: 0px 0px 100px 0px;
}

.link-manage
{
  color: black;
  text-decoration: none;
}

/*horizontal*/
.horizontal
{
  margin-top: 100px;
}

/*----*/

/*-----*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text
{
  margin-bottom: 20px;
}


/* Slider */

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}


#googleMap {
    width: 100%; /* Span the entire width of the screen */
    height: 600px; /* Set the height to 400 pixels */

}

/* Footer */

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

/*google-map*/

